 nav ul li{
	display: inline;
	padding: 0 30px 0 30px;	
}

nav {
	border: solid;
	background-color: #FFB4B0;
	margin-bottom: 20px;
}

a {
	text-decoration: none;
	color: black;

}

 .first {
	border: solid;
	background-color: #4DD7FA;
	margin: auto;
	float:left;
	line-height: 10px;
}

.second {
	border: solid;
	background-color: #FEFAC0;
	margin: auto;
	float: right;
	padding-right: 540px;
	line-height: 10px;
}
	

}

.column1 {
	margin-left: 25px;
}

.column2 {
	margin-left: 34px;
}

.column3 {
	margin-left: 23px;
}

